.parent {
display: grid;
grid-template-columns: 1fr;
gap: 5px;
max-width: 350px;
background-color: white;
padding: 40px;
border-radius: 8px; /* rounds the login box*/
max-width: 350px;
margin: 2rem auto; /* auto is centering horizontally*/
}

.parent h1 {
    color: black;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}