<aside class="sidebar">
  <nav class="sidebar-nav"> 
    <div class="sidebar-menu">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

      <!-- @if (userRole == Role.ADMIN){ -->
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/issues" routerLinkActive="active">Issues</a>
      <a routerLink="/users" routerLinkActive="active">Assign Users To Project</a>
      <!-- } -->

      @if (userRole == Role.TESTER){
        <a routerLink="/my-projects" routerLinkActive="active">My Projects</a>
        <a routerLink="/my-issues" routerLinkActive="active">My Issues</a>
      }

      @if (userRole == Role.DEVELOPER){
        <a routerLink="/assigned-issues" routerLinkActive="active">Assigned Issues</a>
        <a routerLink="/my-projects" routerLinkActive="active">My Projects</a>
      }
    </div>
  </nav>
</aside>

