/*changing background color to not stare at white */
html, body, app-root {
  height: 100%;
  margin: 0;
  background-color: #1c1d23;
  color: #ffffff;
}

body {
  min-height: 100vh;
}

app-root {
  display: block;
}

