html, body, app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  overflow: hidden;
}

body {
  height: 100vh;
  overflow: hidden;
}

app-root {
  display: block;
  height: 100%;
  overflow: hidden;
}

